#container {
    padding: 5px;
    margin: 3px;
}

#menu{
    border-radius: 80px;
    color: black;
    background-color: Grey;
    border-color: grey;
}

#searchbar{
    margin-left: 0;
}

#result{
    width: 1050px;
    height: 850px;
}

#query{
    width: 850px;
}