{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    <title>Map</title>
{% endblock %}

{% block body %} 
    <ul>
        <li>
            <a href="{{ url_for('index') }}">
                home
            </a>
        </li>
    <p>This is a map.</p>
    <div class="container">
        {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>        
    </div>
    <iframe
        width="850"
        height="650"
        frameborder="0" style="border:0"
        referrerpolicy="no-referrer-when-downgrade"
        src="{{ url['url'] }}" allowfullscreen>
        allowfullscreen>
    </iframe>
{% endblock %}
